<launch>

    <node name="tracking_target_node" pkg="puntilt_control" type="tracking_target.py" output="screen">
        <param name="pan_joint_name" value="yaw_joint" />
        <param name="tilt_joint_name" value="pitch_joint" />
        <param name="p_gain" value="0.5" />
    </node>

    <node name="detect_target_color_node" pkg="puntilt_control" type="detect_target_color.py" output="screen">
        <rosparam param="hsv_mask1_lower"> [  0,  50,   0] </rosparam>
        <rosparam param="hsv_mask1_upper"> [ 10, 255, 255] </rosparam>
        <rosparam param="hsv_mask2_lower"> [160,  50,   0] </rosparam>
        <rosparam param="hsv_mask2_upper"> [180, 255, 255] </rosparam>
    </node>

</launch>
