<launch>
  <node name="tracking_target_color_node" pkg="puntilt_control" type="tracking_target_color.py" output="screen">
    <param name="pan_joint_name"  value="yaw_joint" />
    <param name="tilt_joint_name" value="pitch_joint" />
    <param name="p_gain" value="2.0" />
  </node>
</launch>
<!--todo target color を config ファイルで指定できるようにする-->