<launch>
    <arg name="servo" default="dynamixel-2XL430" doc="support [dynamixel-2XL430, dynamixel-XM430-double]"/>
    <arg name="senser" default="realsense-D435" doc="support [realsense-D435]"/>

    <!-- controller -->
    <rosparam>
        pantilt_controller:      
            type: position_controllers/JointTrajectoryController
            joints: 
                - yaw_joint
                - pitch_joint
    </rosparam>
    <node name = "controller_spawner" pkg = "controller_manager" type = "spawner" args = "pantilt_controller"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused"       value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui"          value="true"/>
        <arg name="headless"     value="false"/>
        <arg name="debug"        value="false"/>
    </include>

    <param name="robot_description" command="$(find xacro)xacro $(find pantilt_description)/urdf/pantilt_$(arg servo)_$(arg senser).urdf.xacro" />
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model pantilt -x 0.0 -y 0.0 -z 0.0 -param robot_description" />
</launch>

<!-- rostopic pub /pantilt_controller/command trajectory_msgs/JointTrajectory '{joint_names: ["pitch_joint", "yaw_joint"], points: [{positions: [0.1, -1.5], time_from_start: [1, 0]}]}' -1 -->
