<launch>
    <arg name="servo" default="dynamixel-2XL430" doc="support [dynamixel-2XL430, dynamixel-XM430-double]"/>
    <arg name="senser" default="realsense-D435" doc="support [realsense-D435]"/>

    <param name="robot_description" command="$(find xacro)xacro $(find puntilt_description)/urdf/puntilt_$(arg servo)_$(arg senser).urdf.xacro" />
   
    <!-- rviz -->
    <arg name="rviz_file_address" default="$(find puntilt_description)/rviz/display.rviz" /> 
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_file_address)" required="true" /> 
 </launch>